version: 1

target:
  id: '{{ ci_runner_description }}'

timeouts:
  first_console_activity:
    minutes: 2
    retries: 0
  console_activity:
    minutes: 2
    retries: 0
  overall:
    minutes: 5
    retries: 0

console_patterns:
    session_end:
        regex: "^.*It's now safe to turn off your computer\r$"
    job_success:
        regex: "^.*Execution is over, pipeline status: 0\r$"

deployment:
  start:
    storage:
        http:
          - path: "/b2c-extra-args"
            data: >
              b2c.pipefail b2c.poweroff_delay=15
              b2c.minio="gateway,{{ '{{' }} minio_url }},{{ '{{' }} job_bucket_access_key }},{{ '{{' }} job_bucket_secret_key }}"
              b2c.volume="{{ '{{' }} job_bucket }},mirror=gateway/{{ '{{' }} job_bucket }},pull_on=pipeline_start,push_on=changes,overwrite,remove,preserve,expiration=pipeline_end"
              b2c.run="-ti --tls-verify=false -v {{ '{{' }} job_bucket }}:/job_share/ --workdir /job_share --entrypoint sh {{ ci_tron_image }} {{ ci_tron_cmd }}"

    kernel:
      url: '{{ ci_tron_kernel_url }}'
      cmdline:
        - console={{ '{{' }} local_tty_device }},115200 SALAD.machine_id={{ '{{' }} machine_id }} loglevel=6
        - b2c.ntp_peer="ci-gateway" b2c.cache_device=auto
        - b2c.extra_args_url={{ '{{' }} job.http.url }}/b2c-extra-args
    initramfs:
      url: '{{ ci_tron_initrd_url }}'
